/__pycache__
Secrets.py
testing.py
Footage/Jesus 67.mov
Footage/Music/Creative Exercise.mp3
Footage/Music/DSi Shop Theme.mp3
Footage/Music/Mii channel.mp3
Footage/Music/Trauma Center DS Gentle Breeze.mp3
Footage/Music/Wii Shop Channel Music.mp3
Footage/VideoBackgroundSloppified.mov
RedditLists/AmItheAsshole_top.csv
